/* pages/home/components/horizontal-slider/horizontal-slider.wxss */
@import "../../../../global/wxss/bg/_index.scss";
.scrollable-container {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: $background-color;
  border-radius: 10px;
  box-sizing: border-box;
  height: 100px;
  .component {
    display: flex;
    height: 100%;
    @include bg-gradent(to right);
  
    .left {
      height: 100%;
      
    }
    .right {
      height: 100%;
    }
  }
}