@mixin text-title()
{
  font-size: 25px;
  font-weight: 500;
  color: rgb(36, 35, 35);
}

@mixin text-small()
{
  font-size: 12px;
  font-weight: 400;
  color: rgb(80, 80, 80);
}

@mixin text-middle()
{
  font-size: 15px;
  font-weight: 400;
  color: rgb(80, 80, 80);
}

@mixin text-large()
{
  font-size: 20px;
  font-weight: 400;
  color: rgb(22, 22, 22);
}

@mixin title-small()
{
  font-size: 12px;
  font-weight: 550;
  color:rgb(60, 60, 60);
}

@mixin title-middle()
{
  font-size: 15px;
  font-weight: 550;
  color:rgb(60, 60, 60);
}
@mixin title-large()
{
  font-size: 20px;
  font-weight: 550;
  color:rgb(60, 60, 60);
}

$padding-small: "5px";
$padding-middle: "10px";
$padding-large: "15px";

$black-color: rgb(53, 53, 53);
$dark-black-color: rgb(10,10,10);