/* pages/home/home.wxss */
@import "../../global/wxss/text/_index.scss";
@import "../../global/wxss/bg/_index.scss";
@import "../../global/wxss/color/_index.scss";
page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.scrollarea {
  flex: 1;
  overflow-y: hidden;
  padding: 10px;
  box-sizing: border-box;
}
.helper-container {
  padding: 20px 0;
}
.helper {
  padding: 10px 0;
  box-sizing: border-box;
  background-color: aqua;
  display: flex;
  flex-direction: flex;
  gap: 10px; /* 子元素之间的间距 */
  @include bg-gradent(to bottom, #e6e8e9fb, #eef0f0fb);
  border-radius: 10px;
  align-items: center;
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    .title {
      width: 80%;
      text {
        @include title-middle(); 
      }
     
    }
    .content {
      width: 80%;
      text {
        height: 20px;
        @include text-small();
        overflow: hidden;
        text-overflow: ellipsis;
      }
     

    }
  }
  .right {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .appreciate {
      margin-bottom: 5px;
      text {
        background-color: $lightGrey;
        border-radius: 50%;
        color: white;
        padding: 5px;
        font-size: 12px;
      }
    }

    .text text {
      @include text-middle();
      color: $lightYellow;
    }

  }
}