/** 混合默认值, 默认值可以是一个CSS属性，也可以是其它变量的引用值 **/
$background-color: #e4e4e4;
@mixin link-colors(
    $normal,
    $hover: $normal, 
    $visited: $normal
  )
{
  color: $normal;
  &:hover { color: $hover; }
  &:visited { color: $visited; }
}

@mixin bg-gradent(
  $direction: to right,
  $color: #a8f133,
  $to-color: rgba(253, 253, 253, 0.801),
)
{
  background-image: linear-gradient($direction, $color, $to-color);
}

@mixin child-random-bg-gradent(
  $element: view
)
{
  // 定义颜色列表
  $colors: (
    'primary': #add1e9,
    'success': #bae9ce,
    'info': #e2ebbd,
    'warning': #e7d7bd,
    'danger': #e9bdbc
  );

  @for $i from 1 through length($colors) 
  {
    // 生成一个随机键名
    // 获取所有键名的列表
    $keys: map-keys($colors);

    // 生成一个随机索引
    $random-index: random(length($keys));

    // 使用随机索引获取随机键名
    $random-key: nth($keys, $random-index);

    // 使用随机键名获取 map 中的值
    $random-color: map-get($colors, $random-key);

    & > #{$element}:nth-child(#{$i})
    {
      background-image: linear-gradient(to right, #{map-get($colors, $random-key)}, hsla(0, 16%, 89%, 0.459));
    }
    
  }
}