$white: #dfdfdf;
@mixin radom-color() {
  $colors: (
    'color1': #3498db,
    'color2': #2ecc71,
    'color3': #5dade2,
    'color4': #f39c12,
    'color5': #e74c3c
  );

  // 生成一个随机键名
  $random-key: nth(map-keys($colors), random(length($colors)));

  // 使用随机键名获取随机颜色
  $random-color: map-get($colors, $random-key);
}
